* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
 
}

html{
  scroll-behavior: smooth;
}

body {
  background: #080808;
  color: #fff;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(images/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.container {
  padding: 10px 10%;
}

#header .container nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#header .container nav .logo {
  width: 140px;
}

#header .container nav ul li {
  list-style: none;
  display: inline-block;
  margin: 10px 20px;
}

#header .container nav ul li a {
  color: #fff;
  font-size: 18px;
  position: relative;
}

#header .container nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #ff004f;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

#header .container nav ul li a:hover::after {
  width: 100%;
}

.header_text {
  margin-top: 334px;
  font-size: 30px;
}

.header_text h1 {
  font-size: 60px;
  margin-top: 20px;
}

.header_text h1 span {
  color: #ff004f;
}

.header_text .india_green{
  color: green;
}
.header_text .india_orange{
  color: orange;
}

#about {
  padding: 80px 0;
}

.container .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container .row .about-col-1 {
  flex-basis: 35%;
}

.row .about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.row .about-col-2 {
  flex-basis: 60%;
}

.sub_title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}

.row .about-col-2 .tab_titles {
  display: flex;
  margin: 20px 0 40px;
}

.row .about-col-2 .tab_titles .tab_links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.row .about-col-2 .tab_titles .tab_links::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0px;
  bottom: -6px;
  transition: width 0.5s;
}

.about-col-2 .tab_titles .tab_links:hover::after {
  width: 50%;
}
.about-col-2 .tab_titles .tab_links.active_link::after {
  width: 50%;
}

.about-col-2 .tab_contents {
  display: none;
}

.about-col-2 .tab_contents ul li {
  list-style: none;
  margin: 10px 0;
}

.about-col-2 .tab_contents ul li span {
  color: #4ac720;
  font-size: 14px;
}

.tab_contents.active_tab {
  display: block;
}

#services {
  padding: 30px 0;
}
.services_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services_list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.services_list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services_list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services_list div a {
  color: #333;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
  background: #eee;
  padding: 1rem 1.2rem;
  border-radius: 1rem;
}

.services_list div:hover {
  background: #ff004f;
  transform: translateY(-10px);
}

#portfolio {
  padding: 50px 0;
}

#portfolio .container .work_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.container .work_list .work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.container .work_list .work:hover img {
  transform: scale(1.1);
}

.work_list .work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
  height: 100%;
}

.work_list .work .layer {
  width: 100%;
  height: 0;
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 14px;
  transition: height 0.5s;
}

.work_list .work:hover .layer {
  height: 100%;
}
.work .layer h3 {
  font-weight: 500px;
  margin-bottom: 20px;
}

.work .layer a {
  margin-top: 20px;
  color: #ff004f;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#dis1,#dis2,#dis3{
  display: none;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  border-radius: 6px;
  padding: 14px 50px;
  transition: background 0.5s;
  color: #fff;
  font-weight: bold;
}

.btn:hover {
  background: #ff004f;
}

#contact .row .contact_left {
  flex-basis: 35%;
}

.row .contact_left p {
  margin-top: 30px;
}

#contact .row .contact_right {
  flex-basis: 60%;
}

.contact_left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
  }

.contact_left .social_icons {
  margin-top: 30px;
}

.contact_left .social_icons a {
  font-size: 30px;
  margin-right: 15px;
  color: #abbaab;
  display: inline-block;
  transition: transform 0.5s;
}

.contact_left .social_icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: #ff004f;
    transition: all .5s;
}

.contact_right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    padding: 15px;
    margin: 15px 0;
    background-color: #262626;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
}

#msg{
  color: #61b752;
  margin-top: -40px;
  display: block;
}

#contact .copyright{
    /* width: 100%;
    text-align: center;;
    background: #ff004f;
    padding: 14px 0; */

    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

#contact .copyright span{
    color: #ff004f;
}

nav .fas{
  display: none;
}

/* Media Queries */


@media screen and (max-width: 808px){
  nav .fas{
    display: block;
    font-size: 25px;
  }

  nav ul{
    background-color: #ff004f;
    position: fixed;
    top: 0;
    right: -300px; /*width is also 200px therefore -200px */
    width: 300px;
    height: 100vh;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    transition: right .5s;
  }
  nav ul .fas{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  nav ul .fas:hover{
    color: #95103a;
  }
  .sub_title{
    font-size: 40px;
  }

  .header_text{
    margin-top: 550px;
    font-size: 35px;
    position: sticky;
  }

  .header_text h1{
    font-size: 50px;
    position: sticky;
  }

}
@media screen and (max-width: 1134px) {
  #header{
    background-image: url(./images/phone-background.png);
  }
}
@media screen and (max-width: 694px) {

  #header{
    background-image: url(./images/phone-background.png);
  }

  #about .row .about-col-1,.about-col-2{
    flex-basis: 100%;
    /* width: 80%; */
  }

  #about .row .about-col-1{
    margin-bottom: 30px;
  }

  #about .row .about-col-2{
    font-size: 14px;
  }

  #about  .tab_links{
    font-size: 16px;
  }

  #contact .row .contact_left{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
  }

  #contact .row .contact_left p span{
    font-size: 12px;
  }

  #contact .row .contact_right {
    flex-basis: 100%;
  }
  
  #contact .copyright{
    font-size: 14px;
  }
}
@media screen and (max-width: 609px){
  .header_text{
    font-size: 30px;
    font-weight: bold;
  }

  .header_text h1{
    font-size: 45px;
  }

}